@import "vars"


/*==========  Desktop First  ==========*/
// ≥2000px
@media screen and (max-width: 2000px)
	//
	
@media screen and (max-width: 1920px)
	//


@media screen and (max-width: 1440px)
	//
		
		
// ≥1000px
@media screen and (max-width: 1000px)
	.main-screen
		.swiper_container-navigation
			display: none
	
	.price-pool
		.form-block__trigon
			&:after,
			&:before
				transform: rotate(90deg)
				top: -62px !important
			&:before
				left: 50px
			&:after
				left: 45px



	.services
		&_gallery-thumbs
			&__item
				margin: 0 20px 0 0
				height: 40px
				padding: 8px 5px 6px
				&:after
					display: none
		.swiper_container-navigation
			display: block
			width: 100%
			left: 0
			
	
	.beton
		.form-block
			text-align: center
			margin: 0 auto
			transform: none
			width: 292px
			background: url(../images/bg-form-2-m.svg) no-repeat
			margin-top: -20px
			padding: 73px 20px 35px
			line-height: 22px
			background-size: contain
			&__header
				font-weight: 400
				font-size: 14px
				padding: 0 20px
				margin-bottom: 22px
			input
				width: 100% !important
				//margin-right: 0

	
	.beton-price
		.form-block
			text-align: left
			font-size: 14px
			width: 330px
			border-right: 4px solid #6d868a
			background-size: cover
			padding: 35px 40px 40px 80px
			input,
			input[type=submit]
				width: 100% !important
				
		
	.certificate
		.swiper_container-navigation,
		.swiper-button-next,
		.swiper-button-prev
			display: block !important


// ≥720
+media-breakpoint-down(md)
	.swiper_container-navigation
		width: calc(100% + 30px) !important
		left: -15px !important

	
	.main-screen__gallery-thumbs,
	.services_slide__img
		display: none !important

	
	.gallery-works__swiper-container
		height: 200px
		
		
	.gallery-works__swiper-container
		.swiper-slide
			height: 100%
			
	.price-pool
		&_body
			display: block
			&__expet-block
				margin: 0
				margin-bottom: 30px
		.form-block__header
			text-align: center
			margin-bottom: 22px !important
			
	.consultation
		.form-block__foto
			right: -15px
			img
				width: 200px
				height: 200px
		


	.beton-price
			&__trigon
				&:after,
				&:before
				input
					width: 100% !important
	
	.mfp-wrap
		.mfp-content
			padding: 0
		.mfp-hide_1
			width: 300px
			height: auto
			padding: 30px 10px
			background-position: -444px
			input
				width: 100% !important
			.h2
				text-align: center
			p
				text-align: center
		.mfp-hide_2
			width: 300px
			height: auto
			padding: 30px 10px
			background-position: -374px
			input
				width: 100% !important
			.h2
				text-align: center
			p
				text-align: center
			.ul-check
				padding-left: 40px


// ≥
+media-breakpoint-down(sm)
	.h1, .h2, .h3, h1, h2, h3
		font-size: 18px
		font-weight: 600
		text-align: center
		line-height: 24px
	
	.container
		padding-right: 15px
		padding-left: 15px
		
	.swiper_container-navigation
		width: calc(100% - 10px) !important
		left: 5px !important
		
	.price-pool_body,
	.consultation_body,
	.price-pool_body__expet-block,
	.command_flex
		flex-flow: row wrap
	
	.services
		.swiper_container-navigation
			left: -20% !important
		
	.swiper-slide_body
		&_asaid
			display: none

	.consultation
		padding: 40px 0 80px
		.form-block
			&_body
				margin: -8px 0 34px
				&__costum
					margin-top: 6px
			&__foto
				position: relative
				top: 0
				right: 0
				display: inline-block
				width: 90px
				&__costum
					transform: translateY(-17px)
				img
					width: 100%
					height: 95px
			&__name
				display: inline-block
				font-size: 12px
				width: 150px
				height: 90px
				padding-left: 20px
			&__old
				padding-left: 10px
		.form-block__trigon
			padding: 35px 15px
		input
			width: calc(100% - 15px) !important
			display: block
			margin: 5px auto 10px
	
	.benefits
		padding: 10px 0 0
		&_item
			margin-top: 10px
		.h2
			margin-bottom: 50px
		
	.beton
		padding: 8px 0 40px
		&_item
			margin-bottom: 20px
			&_text
				font-size: 12px
				flex: 0 200px
			&_profit
				font-size: 12px
			&_arrow
				padding-top: 1px
				svg
					width: 48px
		.h2
			text-align: center
			margin-bottom: 80px

	
	.certificate
		.swiper_container-navigation
			width: 90%
			
	.gallery-works-pull .gallery-works-pull__swiper-container
		height: 210px
		width: 270px

	.gallery-works-pull
		margin-bottom: 60px
		.swiper-slide
			margin-top: 15px
			&:nth-child(n)
				height: 100%
		.swiper-pagination
			display: none
		.swiper-button-next,
		.swiper-button-prev
			display: block !important
		.swiper_container-navigation
			top: 22%
			
			
	.video-works
		margin: 70px auto 40px
		&_block
			margin: 0
		&_title
			position: relative
			text-align: center
			margin-bottom: 40px
			width: 100%
			&:after
		.form-block
			margin-left: 0
			width: auto
			margin-top: 0
			padding: 15px 10px 11px 13px
			height: 202px
			&__trigon
				&:before
					border: 20px solid transparent
					border-right: 28px solid $accent
					left: 41% !important
					top: -44px !important
				&:after
					top: -38px !important
					border: 17px solid transparent
					border-right: 25px solid #fff
					left: 42% !important
	
	
	.beton-price
		padding: 60px 0 23px
		margin-bottom: 20px
		&_descript
			margin: 20px 0
			font-size: 12px
			font-weight: 400
			text-align: center
			padding: 0 30px
		.h2
			text-align: center
			line-height: 23px
			margin-bottom: 30px
			
		.form-block
			background: url(../images/bg-form-2-m.svg) no-repeat
			background-size: contain
			padding: 70px 20px 40px 20px
			width: 290px
			height: 350px
			margin: auto
			border-right: none
			&__header
				font-size: 14px
				padding: 0 8px
				margin-bottom: 30px
			input,
			input[type=submit]
				width: 100% !important
	
	
	
	.certificate
		padding: 30px 0 20px
		&_swiper-container
			height: 340px
			width: 200px
			margin-top: 50px
			img
				height: 280px
				object-fit: contain
				width: 100%
		.swiper-pagination
			display: none
			
			
	.video-gallery
		.h2
			margin-bottom: 10px
			margin-top: 0
		&_item
			margin-bottom: 15px
			height: 110px
			img
				height: 100%
		.popup-youtube
		
		
		
		
	.footer
		margin-top: -110px
		background: #fff
		&_sub
			background: none
		&_logo
			display: none
		&_end
			font-size: 8px
			min-height: 40px
			background: #fff
			padding-top: 170px
			padding-bottom: 10px
	.map
		flex-flow: column-reverse nowrap
		&_header
			text-align: center
			font-size: 16px
			margin-bottom: 40px
		&_tel
			margin-bottom: 20px
			display: block
		
	.gallery-thumbs,
	.main-screen__gallery-thumbs
		display: none

		
	.consultation_content,
	.consultation__form-block
		margin: 0px
		
	.map
		width: 100%
		height: auto
		top: 100px


// ≥576px
+media-breakpoint-down(xs)

	
	.header
		padding: 3px 0
		&_telephone_blok
			font-size: 14px
	
	.logo_img
		width: 70%
		padding-top: 10px
	
	.main-screen
		margin-bottom: 35px
		&__header
			text-align: center
			font-size: 20px
		&__swiper-container
			.swiper-slide
				&_body
					height: 421px
					padding-right: 20px
					&_inner
						padding-top: 25px
						line-height: 28px
						.accent-text
							font-size: 24px
		input
			width: 210px !important
			display: block
			margin:  10px auto
		.form-block
			p
				margin: 60px auto 23px
				font-size: 14px
				text-align: center
				width: 70%
				line-height: 18px
			
		.ms
			font-size: 14px
			text-align: center
			width: 70%
			margin: 20px auto
			line-height: 18px
			
	
	.gallery-works
		&_section
			padding: 20px 0 0
			//.swiper_container-navigation
			//	display: block!important
			//	width: 90%
			//	padding: 0 10px
			//	margin: auto
			.swiper-button-next,
			.swiper-button-prev
				display: block !important
		&__swiper-container
			height: 290px
			width: 230px
			margin: 25px auto 0
			.swiper-pagination
				display: none
			.swiper-slide
			

	.price-pool
		margin: 0px 0 10px
		.h2
			text-align: center
		&_body__expet-block
			display: flex
			margin-bottom: 0
		.form-block
			padding: 30px 22px 25px
			line-height: 18px
			font-weight: 400
			
	.expet-block
		&_foto
			width: 130px
			height: 150px
			padding: 10px 0 0
			flex: 0 60px
			object-fit: cover
		&_body
			flex: 1
			padding-left: 30px
			padding-top: 10px
		&__name
			font-size: 14px
			
		&__list
			margin-top: 10px
			font-size: 10px
			
			
	.services
		margin-bottom: 0
		.h2
			line-height: 22px
			margin-bottom: 27px
		&_slide
			&_content
				padding: 0
				&__counter
					text-align: center
					margin-top: 5px
					margin-bottom: 10px
					span
						font-size: 30px
				&__header
					text-align: center
		
		&_slide_footer
			margin-top: 30px
			padding: 0 20px
			.btn
				width: calc(100% - 40px)
				margin: 5px 0
					
		.ul-check
			padding-left: 40px
			margin-bottom: 10px
		 li:before
			 left: -35px
		
		.swiper_container-navigation
			display: block
			width: 210px !important
			top: 104px !important
			margin: auto
		.swiper-button-next,
		.swiper-button-prev
			display: block !important
		
		
			
			
	.consultation
		.h2
			text-align: center
		&_body
			margin: 0
		&_asaid
			display: flex
			&_item
				flex: 0  33%
				display: flex
				flex-flow: column nowrap
				padding: 0 10px 0 10px
				&__name
					font-size: 9px
			&_item__img
				width: 100%
		.form-block__name-little
			font-size: 11px
				
		#consultation-1
			&.form-block__trigon
			&:before
				left: 10px !important
			&:after
				left: 5px !important
		#consultation-2
			&.form-block__trigon
			&:before
				left: 110px !important
			&:after
				left: 105px !important
		#consultation-3
			&.form-block__trigon
			&:before
				left: 70% !important
			&:after
				left: 68.6% !important
				
				
	.beton-price
		.h2
			margin-bottom: -5px
		.lowercase
			text-transform: uppercase
		.form-block
			text-align: center
				
				
	.swiper-button-prev,
	.swiper-button-next
			display: none !important
			
	
	.price-pool .form-block
		margin: 0 !important
		
	.nav
		display: none
		padding-left: 0
		
			
	.beton
		margin-bottom: 0
		&_body
			input
				width: 200px !important
		&-price
			input
				width: 210px !important
				
				
	.map_img
		flex: 100%
		
		
		
	.form-block__trigon
		&:after,
		&:before
			transform: rotate(90deg)
			top: -62px !important
		&:before
			left: 40px !important
		&:after
			left: 35px !important
			
		

@media screen and (max-width: 320px)
	.services
		.swiper_container-navigation
			top: 122px !important
			//left: -20%
	
	.footer_end
		padding-top: 180px
		padding-bottom: 10px
	
/*==========  Mobile First  ==========*/

@media screen and (min-width: 320px)
	//

	
// ≤576px
+media-breakpoint-up(sm)


// ≤768px
+media-breakpoint-up(md)


// ≥1024px
@media screen and (min-width: 1024px)
	.main-screen
		.swiper_container-navigation
			max-width: 1024px
			left: 0
	
	.main-screen__gallery-thumbs
		left: 780px
	
	.gallery-works_section .swiper_container-navigation,
	.services .swiper_container-navigation,
	.certificate .swiper_container-navigation
		width: 1024px
		left: -7px
		right: 0
		
	.main-screen__swiper-container
		.swiper-slide_body
			padding: 80px 30px
			
	.beton
		.form-block
			margin-left: 25px
		&-price
			.form-block
			margin-left: -20px

	.beton-price .form-block
		margin-left: 0px
		width: 500px
		height: 180px
	
@media screen and (min-width: 1300px)
	.main-screen
		.swiper_container-navigation
			max-width: 1080px
		&__gallery-thumbs
			left: 930px
	
	.gallery-works_section .swiper_container-navigation,
	.services .swiper_container-navigation,
	.certificate .swiper_container-navigation
		width: 1080px
		left: -40px

		
@media screen and (min-width: 1400px)
	.main-screen
		.swiper_container-navigation
			max-width: 1080px
			
	.gallery-works_section .swiper_container-navigation,
	.services .swiper_container-navigation,
	.certificate .swiper_container-navigation
		width: 1080px
		left: -40px
	.main-screen__gallery-thumbs
		left: 990px
		

@media screen and (min-width: 1920px)
	.main-screen
		&__gallery-thumbs
			left: 1230px
			
@media screen and (min-width: 2000px)
	.main-screen
		&__gallery-thumbs
			left: 1570px !important
			