@import vars
@import fonts
@import libs
@import settings

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.45
	font-family: 'Proxima Nova', sans-serif
	overflow-x: hidden
	color: $text
	font-weight: 200

a
	&:hover
		transition: all 0.4s
	
		
h1,.h1, h2, .h2, h3, .h3
	font-size: 26px
	margin-bottom: 15px
	text-align: center
	text-transform: uppercase
	font-weight: 600

// star nav
.nav
	display: flex
	padding-left:  0
	li
		display: block
		margin: 0 20px
	a
		color: #fff
		&:hover
			text-decoration: none
			color: $accent


// End nav



.header
	color: #fff
	padding: 15px 0
	position: absolute
	width: 100%
	height: 80px
	z-index: 50
	.nav
		margin-top: 20px
		li
		a
			font-size: 13px
	&_telephone_blok
		text-align: right
		margin-top: 20px
		font-size: 18px
		a
			color: #fff
		
	.logo_img__color
		display: none
		
	
.main-screen
	margin-bottom: 60px
	position: relative
	&__swiper-container
		color: #fff
		.swiper
			&-slide
				&_body
					background-repeat: no-repeat
					background-size: cover
					height: 540px
					padding: 80px 0
					&_inner
						display: flex
						padding-top: 100px
						font-size: 18px
						font-weight: 500
	&__gallery-thumbs
		width: 220px
		position: absolute
		top: 25%
		left: 960px
		margin-top: 15px !important
	&__container
			position: relative
	&__header
		font-size: 32px
		margin-bottom: 5px
		.accent-text
			font-weight: 600
			display: block
			text-transform: uppercase
	
	.swiper
		&-slide
			&:nth-child(1) 	svg
					transform: translateY(-4px)
			&:nth-child(2) 	svg
					transform: translateY(3px)
			&:nth-child(3) 	svg
					transform: translateY(4px)
			&_body
				&_asaid
					&__item
						font-size: 12px
						display: flex
						cursor: pointer
						text-align: right
					&__text
						padding-right: 15px
						font-size: 10px
	
					&__img
						flex: 0 0 40px
						svg
							fill: #fff
			&-thumb
				&-active
					svg
						fill: $accent !important
					.swiper-slide_body_asaid__text
						font-size: 10px
						font-weight: 400
						color: $accent
		&_container-navigation
			left: 20px
			right: 0
			max-width: 1120px
			margin: auto

	
	.form-block
		margin-top: 55px
	
// End main-screen





// Start gallery-works_section
.gallery-works
	&_section
		padding: 20px 0
		.container:first-child
			position: relative
	&__swiper-container
		margin: 60px 0
		height: 580px
		padding-bottom: 60px
		.swiper-slide
			text-align: center
			font-size: 18px
			height: calc((100% - 30px) / 2)
			display: flex
			justify-content: center
			align-items: center
			flex-shrink: 0
			width: 100%
			position: relative
			transition-property: transform
			background-size: cover
			background-repeat: no-repeat
			position: relative
			transition: all 0.4s
			cursor: pointer
			&:hover
				a
					position: absolute
					width: 100%
					height: 100%
					content: ''
					top: 0
					left: 0
					background-color: $hover-foto
					z-index: 5
					display: flex
					justify-content: center
					align-items: center
					align-content: flex-start
				.gallery-works__foto,
				.gallery-works__play
					width: 30%
					height: 30%
					position: relative
					z-index: 10
					filter: invert(1)
					background-size: contain
					background-repeat: no-repeat
					background-position: center
				.gallery-works__play
					background-image: url(../images/icon/play.svg)
				.gallery-works__foto
					background-image: url(../images/icon/foto.svg)

// End gallery-works_section




// Start price-pool_section | expet-block
.price-pool
	margin-bottom: 60px
	.h2
		text-align: left
		.lowercase
			display: block
	&_body
		display: flex
		align-items: flex-start
		&__expet-block
				display: flex
				margin: 30px 30px 0 0
				flex:  6
				padding-top: 15px
		&__form-block
			flex:  4
		.ul-check
			li
				font-size: 13px
				font-weight: 400
				margin-bottom: 15px
	
	.form-block
		padding: 45px 40px
		text-align: left
		input
			width: 100% !important
			&[type=text]
				background: $text-input
		.form-block__header
			margin-bottom: 30px
			font-weight: 600
			
			
.expet-block
	&_foto
		padding: 5px 30px 0  10px
		width: 230px
		height: 200px
		object-fit: cover
	&_body
		display: flex
		flex-flow: column nowrap
		align-content: space-between
	&__name
		font-size: 16px
		font-weight: 600
	&__position
		font-size: 12px
		font-weight: 400
	&__list
		margin-top: 30px
		padding-left: 20px
		font-size: 12px
// End price-pool_section





// Start services
.services
	padding: 60px 0 30px
	margin-bottom: 60px
	.container:first-child
		position: relative
	&_slide
		display: flex
		&__img
			flex: 0 1 100%
			object-fit: cover
			width: 480px
			height: 300px
		&_content
			flex: 0 1 100%
			padding: 0  0 0 90px
			&__counter
				color: darken($grey, 15%)
				font-size: 16px
				margin-bottom: 0px
				&-accent
					color: $accent
					font-size: 26px
			&__header
				text-transform: uppercase
				font-weight: 600
				margin-bottom: 30px
	&_gallery-thumbs
		&__item
			background: $grey
			height: 30px
			padding: 8px 0 6px
			text-align: center
			font-size: 12px
			margin: 0 40px 0 0
			cursor: pointer
			position: relative
			line-height: 14px
			&:after
				position: absolute
				content: ''
				width: 40px
				height: 20px
				background: url(../images/icon/arow-middle.png) center no-repeat
				right: -45px
				top: 9px
				font-size: 60px
				z-index: 10
				&:last-child
					margin-right: 0
					&:after
					display: none
	
					
	.swiper_container-navigation
		top: 66%
	.swiper-slide-thumb-active
		.services_gallery-thumbs__item
			background: #fff
			border: 1px solid $accent
			font-weight: 400
			font-size: 12px
			&:after
				background: url(../images/icon/arow-accent.png) center no-repeat
		.accent
			font-weight: 600
			color: $accent
	.gallery-thumbs
		margin-top: 40px
		margin-bottom: 50px
		
	.h2
		line-height: 30px
		margin-bottom: 30px
	.last-child
		&:after
			display: none
			
	.ul-check
		font-size: 12px
		margin-bottom: 40px
	.accent
		display: block
		font-weight: 200
		color: $text
		
	.popup-modal
		margin-right: 10px
		&:hover
			color: $text
	.btn_accent
		min-width: 180px
	
// End services





// Start consultation
.consultation
	padding: 100px 0 30px
	//background: url(../images/bg-consultation.jpg) no-repeat
	background: $footer
	background-size: cover
	margin-bottom: 60px
	.h2
		text-align: left
	&_body
		display: flex
		margin: 60px 0
	&_asaid
		flex: 3
		margin-top: 40px
		&_item
			display: flex
			margin-right: 0px
			margin-bottom: 30px
			filter: opacity(0.5)
			transition: all 0.4s
			cursor: pointer
			&__active
				filter: opacity(1)
				img
					border: 1px solid $accent
			&__img
				width: 70px
				height: 70px
				padding: 3px
				object-fit: cover
				margin-right: 15px
			&__name
				font-size: 12px
				font-weight: 900
				text-transform: uppercase
				margin-top: 10px
				&-little
					font-weight: 600
					text-transform: none
	&_content
		flex: 9
		margin-left: 55px
	&__form-block
		max-width: 520px
		margin-left: 30px
		display: none
		&__active
			display: block
	
	.form-block
		text-align: left
		&__trigon
			padding: 35px 20px 30px 40px
			&:before
				border: 30px solid transparent
				border-right: 43px solid #fbba2f
				left: -73px
			&:after
				border: 25px solid transparent
				border-right: 38px solid $footer
				left: -63px
		&__name
			font-size: 16px
			text-align: left
			font-weight: 600
			text-transform: uppercase
			margin-bottom: 15px
			&-little
				text-transform: capitalize
				font-weight: 600
				font-size: 12px
				margin-top: 5px
		&_body
			display: flex
			margin: 45px 0
		&__old
			font-weight: 600
			text-align: center
			margin-right: 5px
			margin-top: 10px
			text-transform: uppercase
			&-int
				font-weight: 400
				font-size: 60px
				display: block
				margin: 0
				line-height: 40px
		&__text
			font-size: 12px
			font-weight: 600
			max-width: 200px
		&__foto
			position: absolute
			top: -21%
			right: -16%
			img
				width: 240px
				height: 270px
				object-fit: cover
	
	.btn_input
		width: 200px

#consultation-1
	&.form-block__trigon
		&:before
			top: 40px
		&:after
			top: 45px
#consultation-2
	&.form-block__trigon
		&:before
			top: 140px
		&:after
			top: 145px
			//border-right: 38px solid #E9F4F8
#consultation-3
	&.form-block__trigon
		&:before
			top: 250px
		&:after
			top: 255px
			//border-right: 38px solid #E0EEF9
// End consultation


// Start benefits
.benefits
	padding: 30px 0 0
	font-size: 12px
	margin-bottom: 50px
	&_item
		margin: 30px 0
		text-align: center
		padding: 0 15px
		font-weight: 400
		&__img
			margin-bottom: 15px
			svg
				width: 50px
				height: 50px
				fill: $accent
		&__header
			font-weight: 700
			text-transform: uppercase
	.h2
		margin-bottom: 30px
// End benefits



// Start gallery-works-pull
.gallery-works-pull
	.container:first-child
		position: relative
	.swiper-slide
		background-size: cover
	.gallery-works-pull__swiper-container
		height: 380px
		max-width: 800px
		margin: 50px auto 0
	.swiper-slide
		margin-top: 15px
		&:nth-child(1),		&:nth-child(6),
		&:nth-child(11), 	&:nth-child(16),
		&:nth-child(21), 	&:nth-child(26)
			height: calc(100% - 15px)
		&:nth-child(2),		&:nth-child(7),
		&:nth-child(12),	&:nth-child(17),
		&:nth-child(22),	&:nth-child(27)
			height: calc(30% - 15px)
		&:nth-child(3),		&:nth-child(8),
		&:nth-child(13),	&:nth-child(18),
		&:nth-child(23),	&:nth-child(28)
			height: calc(66% - 0px)
		&:nth-child(4),		&:nth-child(9),
		&:nth-child(14),	&:nth-child(19),
		&:nth-child(24),	&:nth-child(29)
			height: calc(66% - 15px)
		&:nth-child(5),		&:nth-child(10),
		&:nth-child(15),	&:nth-child(20),
		&:nth-child(25),	&:nth-child(30)
			height: calc(30% - 0px)
			
	.swiper_container-navigation
		top: 29%
		width: calc(100% + -10px)
		left: 10px
	.swiper-pagination
		margin: 15px auto
		text-align: center
		width: 100%
		&-bullet
			margin-right: 5px
// End gallery-works-pull



// Start video-works
.video-works
	margin: 180px auto 40px
	text-align: center
	&_block
		margin: 0px 0 60px 30px
	&_title
		font-size: 12px
		font-weight: 600
		text-align: right
	.form-block
		padding: 25px 30px 28px 25px
		height: 192px
		width: 348px
		margin-top: -70px
		margin-left: 10px
		&__trigon:before
			top: 56px
			left: -60px
		&__trigon:after
			top: 51px
		img
			width: 100%
			height: 100%
			object-fit: cover
			transition: all 0.4s
			&:hover
				box-shadow: 0 0 10px 0 lighten($text, 50%)
// End  video-works



// Start beton
.beton
	color: #fff
	background: url(../images/bg-beton.jpg)
	background-size: cover
	padding: 40px 0 60px
	margin-bottom: 60px
	.h2
		text-align: left
		margin-bottom: 50px
	&_body
		margin-top: 50px
	&_item
		display: flex
		font-weight: 400
		font-size: 16px
		margin-bottom: 30px
		&_text
			flex: 190px
			position: relative
		&_arrow
			flex: 50px
			padding-top: 10px
			margin-left: 10px
		&_profit
			flex: 230px
			color: $accent
			margin-left: 20px


	.form-block
		margin-left: 60px
		height: 320px
		border: none
		transform: translate(28px, 5px)
		background: url(../images/bg-form-2.svg) no-repeat
		padding-right: 50px
		padding-left: 80px
		padding-top: 50px
		text-align: left
		&__trigon:after,
		&__trigon:before
			display: none
		&__header
			margin-bottom: 30px
			font-weight: 400
		input
			width: calc(100% - 15px) !important
			color: $text

// End beton




// Star command
.command
	padding: 35px 0
	text-align: center
	&_flex
		display: flex
	&_item
		margin:  15px
		cursor: pointer
		transition: all 0.4s
		position: relative
		flex: 20%
		height: 150px
		&_img
			border: 1px solid $accent
			padding: 5px
			img
				width: 100%
				height: 150px
				object-fit: cover
		&_content
			font-size: 13px
			font-weight: 400
			display: block
			position: absolute
			width: calc(100% - 10px)
			height: 152px
			top: 5px
			left: 5px
			padding: 60px 5px 0
			background: transparentize($accent, .2)
			color: #fff
			opacity: 0
			transition: all 0.4s
			text-shadow: 0 0 10px rgba(0,0,0, .5 )
			&:hover
				opacity: 1
		&__header
			text-transform: uppercase
			margin-bottom: 10px

	.h2
		margin-bottom: 40px
// End command



// Star beton-price
.beton-price
	background: url(../images/bg-3.jpg) no-repeat
	background-size: cover
	color: #fff
	padding: 90px 0 70px
	margin-bottom: 60px
	&_descript
		width: 300px
		margin: 30px 0
		font-weight: 400
	.h2
		text-align: left
		line-height: 30px
		margin-bottom: 40px
	.form-block
		text-align: left
		margin-left: 30px
		background: url(../images/bg-form-2.png) no-repeat
		border: none
		padding: 35px 45px 40px 80px
		&:after,
		&:before
			display: none
		input
			width: 197px !important
			display: inline-block !important
			&[type=submit]
				width: 160px !important
				margin-right: 0
		&__header
			font-size: 12px
			margin-bottom: 25px
		&__trigon:after
			display: none
	

			
// End beton-price



// Star certificate
.certificate
	padding: 30px 0
	text-align: center
	.container:first-child
		position: relative
	&_swiper-container
		margin-top: 60px
		height: 360px
	&_slide
		&_title
			text-align: center
			font-weight: 400
			font-size: 12px
			margin: 15px 0
			padding: 0 30px
	img
		width: 100%
		display: block
//		margin: 0 30px
// End certificate




// Star video-gallery
.video-gallery
	margin: 60px 0
	&_item
		display: block
		position: relative
		transition: all 0.4s
		&:after
			position: absolute
			content: ''
			width: 100%
			height: 100%
			left: 0
			top: 0
			background-image: url(../images/icon/play.svg)
			background-repeat: no-repeat
			background-size: 30%
			background-position: center
			filter: invert(1)
		&:hover
			box-shadow: 0 0 10px 0 rgba(0,0,0, .5 )
		img
			object-fit: cover
			width: 100%
			height: 100%
	&_link
		margin-top: 60px
		color: $accent
		font-weight: 600
		font-size: 13px
		border-bottom: 1px solid $accent
		&:hover
			text-decoration: none
			color: lighten($accent, 15%)
	.h2
		text-align: left
		

// End video-gallery






// Star footer
.footer
	&_sub
		background: url(../images/bg-footer.jpg) no-repeat
		background-size: cover
		height:  500px
		position: relative
	&_end
		font-size: 12px
		min-height: 280px
		background: rgb(248,251,250)
		//background: linear-gradient(156deg, rgba(248,251,250,1) 0%, rgba(228,241,255,1) 70%)
		background: $footer
		padding: 180px 0 0
		a
			color: $text
	
	
	.copirate
		padding-top: 20px
// End footer




// Star map_block
.map
	position: absolute
	height: 330px
	width: 800px
	background: #fff
	top: 300px
	left:  50%
	transform: translateX(-50%)
	display: flex
	flex-flow: row wrap
	&_header
		text-align: left
		font-size: 22px
		font-weight: 600
		text-transform: uppercase
		margin-top: 30px
		margin-bottom: 30px
	&_img
		height: 100%
		width: 100%
		object-fit: cover
		flex: 7
	&_content
		padding: 30px 40px
		text-align: left
		flex: 5
	&_tel
		font-weight: 600
		margin-bottom: 20px
		color: $text
		&:hover
			text-decoration: none
	&_address
		font-weight: 400
		font-size: 12px
	
	&_tel,
	&_address
		position: relative
		margin-left: 30px
		&:before
			content: ''
			width: 20px
			height: 15px
			display: inline-block
			margin-right: 5px
			position: absolute
			left: -30px
	&_tel:before
		background: url(../images/icon/call.svg) no-repeat
	&_address:before
		background: url(../images/icon/maps-and-flags.svg) no-repeat
// End map_block



// Custom settings
.lowercase
	text-transform: lowercase
	display: block
.accent-text
	color: $accent
	
.title-block
	border-bottom: 1px solid $accent
	transition: all 0.4s
	cursor: pointer
	position: relative
	&:hover
		color: $accent
		.title-block__data-title
			display: block
	&__data-title
		display: none
		color: $text
		position: absolute
		min-width: 60px
		content: 'Авоматизация оборудования'
		left: 0
		background: #fff
		border: 1px solid $accent
		z-index: 10
		padding: 5px 15px
		white-space: pre

.accent
	color: $accent
	font-weight: 600
// media
@import media